<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My App</title>
</head>
<body>
    <h1>Welcome to my app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima earum esse eum corrupti assumenda, excepturi quas, temporibus quia culpa odit 
    vel ipsa vero numquam distinctio maxime? Inventore, nostrum assumenda!</p>
</body>
</html>


